---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'

const photos = (await getCollection('photos'))
  .sort((a, b) => {
    return b.data.shot.valueOf() - a.data.shot.valueOf()
  })
  .reverse()

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
      }
      ul li {
        justify-content: space-between;
        height: 150px;
      }

      ul li a {
        filter: saturate(0);
      }

      ul li a:hover {
        filter: saturate(1);
      }

      ul li a img {
        border-radius: 5px;
        object-fit: cover;
        height: 150px;
        font-size: 0px;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <ul>
        {
          photos.map((photo, idx) => {
            return (
              <li>
                <a href={`/photos/${photo.slug}`} transition:name={photo.slug}
                    transition:animate="initial">
                  <img
                    src={photo.data.src}
                    alt={photo.data.title}
                    width="150"
                    height="150"
                    loading="lazy"
                    transition:name={`${photo.slug} image`}
                  />
                </a>
              </li>
            )
          })
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
