---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import PhotoInformation from '@components/PhotoInformation.astro'
import { SITE_DESCRIPTION } from 'src/consts'

type Props = CollectionEntry<'photos'>['data']

const { title, camera, film } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <h1>{title}</h1>
        <hr />
        <slot />
        {!!camera && !!film && <PhotoInformation camera={camera} film={film} />}
      </article>
    </main>
    <Footer />
  </body>
</html>
